[Desktop Entry]
Name=Android Scrcpy
Comment=Display and control your Android device
Exec=sh -c "scrcpy -b2M -m800 || kdialog --sorry 'scrcpy server connection failed'"
Type=Application
Icon=android-sdk
Categories=Utility;
StartupNotify=true
