[Desktop Entry]
Name=Scrcpy
Comment=Display and control your Android device
Exec=scrcpy -b2M -m800
Type=Application
Icon=android-sdk
Categories=Utility;
StartupNotify=true
