[user]
	email = {{ myemail }}
	name = {{ myfullname }}
[core]
	pager = /usr/share/git/diff-highlight/diff-highlight| less
[diff]
	algorithm = patience
[stash]
	showPatch = true
[commit]
	gpgsign = true
	cleanup = scissors
[push]
	autoSetupRemote = true
[pull]
	ff = only
[init]
	defaultBranch = master
[mergetool]
	keepBackup = false
	hideResolved = true
[mergetool "fugitive"]
	cmd = vim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
	tool = fugitive
[rebase]
	stat = true
[sendemail]
	sendmailcmd = /usr/share/doc/msmtp/msmtpq/msmtpq
	confirm = auto
