[user]
	email = {{ myemail }}
	name = {{ myfullname }}
[core]
	excludesfile = ~/.gitignore_global
	pager = /usr/share/git/diff-highlight/diff-highlight| less
[diff]
	algorithm = patience
[commit]
	gpgsign = true
[pull]
	ff = only
	autoSetupRemote = true
[init]
	defaultBranch = master
[mergetool "fugitive"]
	cmd = vim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
	tool = fugitive
[rebase]
	stat = true
[sendemail]
	sendmailcmd = /usr/share/doc/msmtp/msmtpq/msmtpq
	confirm = auto
