[user]
	email = magnus.gross@rwth-aachen.de
	name = Magnus Groß
[core]
	excludesfile = ~/.gitignore_global
	pager = /usr/share/git/diff-highlight/diff-highlight| less
[diff]
	algorithm = patience
[commit]
	gpgsign = true
[pull]
	ff = only
[init]
	defaultBranch = master
[mergetool "fugitive"]
	cmd = vim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
	tool = fugitive
[rebase]
	stat = true
[sendemail]
	sendmailcmd = msmtp
	confirm = auto
