configuration {
	modi: "drun,ssh,window";
	font: "Roboto 24";
	location: 0;
	show-icons: true;
	terminal: "konsole";
	ssh-command: "{terminal} -e {ssh-client} {host}";
	eh: 1;
	parse-known-hosts: false;
}
