bind index,pager @ "compose-to-sender"
bind index,pager R "group-reply"
bind index,pager x "delete-message"
bind index,pager X "undelete-message"
bind index,pager N "search-opposite"

bind attach <return> view-mailcap
bind attach l view-mailcap

bind index l "display-message"
bind index g "first-entry"
bind index G "last-entry"
bind index d "half-down"
bind index u "half-up"
bind index S "toggle-new"
macro index <F5> "<shell-escape>mbsync -a<enter>:echo 'Mail synced 📥'<enter>"

bind pager j "next-line"
bind pager k "previous-line"
bind pager h "exit"
bind pager g "top"
bind pager G "bottom"

macro pager <up> <previous-line>
macro pager <down> <next-line>
macro pager d <next-line><next-line><next-line><next-line><next-line><next-line><next-line><next-line><next-line><next-line>
macro pager u <previous-line><previous-line><previous-line><previous-line><previous-line><previous-line><previous-line><previous-line><previous-line><previous-line>
macro pager \cb "<pipe-message> urlscan<Enter>" "call urlscan to extract URLs out of a message"
