bind index l "display-message"
bind index g "first-entry"
bind index G "last-entry"
bind index d "half-down"
bind index u "half-up"
bind index x "delete-message"
bind index X "undelete-message"
bind index <F5> "imap-fetch-mail"
bind index N "search-opposite"
bind index S "toggle-new"

bind pager j "next-line"
bind pager k "previous-line"
bind pager h "exit"
bind pager g "top"
bind pager G "bottom"
bind pager N "search-opposite"
bind pager x "delete-message"
bind pager X "undelete-message"

macro pager <up> <previous-line>
macro pager <down> <next-line>
macro pager d <next-line><next-line><next-line><next-line><next-line><next-line><next-line><next-line><next-line><next-line>
macro pager u <previous-line><previous-line><previous-line><previous-line><previous-line><previous-line><previous-line><previous-line><previous-line><previous-line>
