bind index,pager @ "compose-to-sender"
bind index,pager R "group-reply"
bind index,pager x "delete-message"
bind index,pager X "undelete-message"
bind index,pager N "search-opposite"
bind index,pager <F6> "list-action"
bind index,pager \cx "delete-thread"
macro index,pager _ "<next-thread><previous-entry>"
macro index,pager \ca "<pipe-message>~/Documents/scripts/merge-patch.sh<enter>:echo 'Patch applied 🚀'<enter>"
macro index,pager \cv "<pipe-message>~/Documents/scripts/dispatch-bg-job.sh<enter>:echo 'Build job started... 🔨'<enter>"

bind index l "display-message"
bind index g "first-entry"
bind index G "last-entry"
bind index d "half-down"
bind index u "half-up"
bind index U "toggle-new"
bind index - "collapse-thread"
macro index <F5> "<shell-escape>mbsync -a<enter>:echo 'Mail synced 📥'<enter>"
macro index L "<shell-escape>read -p 'notmuch query: ' x; echo \$x >~/.cache/mutt_terms<enter><limit>~i \"\`notmuch search --output=messages \$(cat ~/.cache/mutt_terms) | perl -le '@a=<>;chomp@a;s/\^id:// for@a;$,=\"|\";print@a'\`\"<enter><last-entry>"
macro index \cl "<limit>\cuall<enter>"

bind pager j "next-line"
bind pager k "previous-line"
bind pager h "exit"
bind pager g "top"
bind pager G "bottom"
macro pager <up> <previous-line>
macro pager <down> <next-line>
macro pager d <next-line><next-line><next-line><next-line><next-line><next-line><next-line><next-line><next-line><next-line>
macro pager u <previous-line><previous-line><previous-line><previous-line><previous-line><previous-line><previous-line><previous-line><previous-line><previous-line>
macro pager \cb "<pipe-message> urlscan<Enter>" "call urlscan to extract URLs out of a message"

bind editor <Tab> complete-query
