color attachment default default
color bold default default
color compose header default default
color compose security_none default default
color compose security_sign bold yellow default
color compose security_both bold green default
color error red default
color hdrdefault magenta default
color index blue default "~P" # messages from me
color index green default "~U|~N" # unread or new
color index bold yellow default "~v" # collapsed
color index default red "~D" # deleted
color indicator reverse default default
color markers yellow default
color message default default
color normal default default
color prompt default default
color quoted green default
color quoted0 green default
color quoted1 brightgreen default
color quoted2 yellow default
color quoted3 brightyellow default
color quoted4 magenta default
color quoted5 brightmagenta default
color quoted6 cyan default
color quoted7 brightcyan default
color quoted8 blue default
color quoted9 brightblue default
color search default yellow
color sidebar_divider default default
color sidebar_new default default
color signature default default
color status reverse default default
color tilde default default
color tree default default
color underline default default

set cursor_overlay
