set spoolfile = +{{ mymailaccount }}/INBOX
set record = +{{ mymailaccount }}/Sent
set sendmail = "/usr/share/doc/msmtp/msmtpq/msmtpq -a {{ mymailaccount }}"

set realname = "{{ myfullname }}"
set from = "{{ myemail }}"

# Unsubscribed mailing lists
lists mutt-users@mutt.org

# Subscribed mailing lists
subscribe mutt-dev@mutt.org
