set spoolfile = +{{ mail_account }}/INBOX
set record = +{{ mail_account }}/Sent
set sendmail = "/usr/share/doc/msmtp/msmtpq/msmtpq -a {{ mail_account }}"

set realname = "{{ full_name }}"
set from = "{{ email }}"
