set spoolfile = +maildir/INBOX
set record = +maildir/Sent
set sendmail = "/usr/share/doc/msmtp/msmtpq/msmtpq -a maildir"

set realname = "{{ myfullname }}"
set from = "{{ myemail }}"

# Unsubscribed mailing lists
lists mutt-users@mutt.org

# Subscribed mailing lists
subscribe mutt-dev@mutt.org
