[Unit]
Description=Runs a custom user command when the user logs in. Example (Script must be in ~/.script.sh): systemctl --user enable loginhook@script.service

[Service]
Type=simple
ExecStart=/usr/bin/bash %h/.%i.sh

[Install]
WantedBy=default.target
