[Unit]
Description=Run a custom script when the user logs in.
; Example: systemctl --user enable loginhook@script.service
; For this to work, the file ~/.script.sh must exist.

[Service]
Type=simple
ExecStart=/usr/bin/bash %h/.%i.sh

[Install]
WantedBy=default.target
