[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -aq
ExecStartPost=%h/Documents/scripts/mail-notify.sh
