div > .vimiumHintMarker {
	padding: 3px 8px;
	border: 0;
	border-radius: 1px;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
	background-color: #FF3D00;
	background-image:none;
}

div > .vimiumHintMarker span {
	color: rgba(255, 255, 255, 0.87);
	font-weight: bold;
	font-size: 12px;
	text-shadow: none;
}

div > .vimiumHintMarker > .matchingCharacter {
	color: rgba(255, 255, 255, 0.3);
}
